@use "../abstracts";

.auth {
    &__inner {
        display: flex;
        min-height: 100vh;

        @supports (-webkit-touch-callout: none) {
            min-height: -webkit-fill-available;
        }
    }

    &-left {
        display: flex;
        flex-grow: 1;
        background: var(--sign-up-left-bg);

        @include abstracts.screen(md) {
            background: var(--sign-up-right-bg);
        }

        &__wrap {
            margin: auto;
            padding: 30px;
        }

        &__img {
            position: fixed;
            left: 50%;
            bottom: 50px;
            translate: -50% 0;
        }
    }

    &__img {
        width: 100%;
    }

    &__desc {
        margin-top: 49px;
        max-width: 412px;
        color: var(--text-color);
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(sm) {
            font-size: 1.5rem;
        }
    }

    &-right {
        display: flex;
        flex-grow: 1;
        background: var(--sign-up-right-bg);
        overflow-y: auto;

        @include abstracts.screen(md) {
            position: fixed;
            inset: 0;
            translate: 100% 0;
            transition: translate 0.4s;

            &.show {
                translate: 0 0;
            }
        }

        &__wrap {
            margin: auto;
            padding: 30px;
        }

        &__desc {
            margin: 10px auto 0;
            color: #9e9da8;
            max-width: 460px;
            text-align: center;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 146.667%;

            @include abstracts.screen(sm) {
                font-size: 1.4rem;
                line-height: 142.857%;
            }
        }

        &__row {
            margin-top: 108px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            @include abstracts.screen(sm) {
                margin-top: 40px;
            }
        }

        &__ques {
            color: var(--form-label-color);
            font-size: 1.8rem;
            line-height: 144.444%;
        }

        &__signin {
            color: var(--Blue-Blue, #0071dc);
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
        }
    }

    &__heading {
        margin-top: 50px;
        color: var(--text-color);
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(sm) {
            margin-top: 30px;
            font-size: 2.2rem;
            line-height: 145.455%;
        }
    }
}

.logo {
    &--sign-up {
        justify-content: center;

        &__img {
            width: 32px;
            height: 32px;
        }
    }

    &-auth {
        position: fixed;
        left: 50%;
        top: 80px;
        translate: -50% 0;

        &__img {
            width: 32px;
            height: 32px;
        }
    }
}
