/* Header */
@use "../abstracts";
%itemFlexCenter {
    display: flex;
    align-items: center;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 1000;
    padding: 20px 0;
    background: var(--header-background);

    @include abstracts.screen(lg) {
        padding: 16px 0;
    }
}

.header__inner {
    @extend %itemFlexCenter;

    position: relative;

    @include abstracts.screen(sm) {
        @extend %itemFlexCenter;

        justify-content: space-between;
    }
}

.navbar {
    margin-left: 144px;
    transition: translate 0.5s;

    @include abstracts.screen(xl) {
        margin-left: 60px;
    }

    @include abstracts.screen(lg) {
        margin-left: 0;
        padding: 20px;
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 100;
        background: var(--navbar--background-color);
        border-radius: 0px 20px 20px 0px;
        translate: -100% 0;
        overflow-y: auto;

        &.show {
            translate: 0;
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    @include abstracts.screen(sm) {
        inset: 0 20% 0 0;
    }

    &__close {
        display: none;
        padding-bottom: 10px;
        padding-inline: 0px;
    }

    &__btn {
        @include abstracts.screen(md) {
            padding: 10px 0;
            align-items: center;
        }

        &-name {
            margin-left: 16px;

            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
        }

        &-value {
            @extend .navbar__btn-name;

            margin-left: auto;
        }
    }

    &__overlay {
        z-index: 99;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s opacity 0.5s;

        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0 0 0 0;
            background: var(--overlay-background-color);
        }
    }

    &__list {
        @extend %itemFlexCenter;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        padding: 0 15px;

        &:last-child {
            padding-right: 0px;
        }

        &:first-child {
            padding-left: 0px;
        }

        &:hover .dropdown {
            display: block;
        }

        @include abstracts.screen(lg) {
            width: 100%;
            padding: 10px 0;

            &:hover .dropdown {
                display: none;
            }

            &--active .dropdown {
                display: block !important;
            }

            &--active .navbar__icon {
                rotate: 0deg;
            }
        }
    }

    &__icon {
        @include abstracts.screen(lg) {
            rotate: -90deg;
            transition: rotate 0.3s;
        }
    }

    &__link {
        @extend %itemFlexCenter;

        @include abstracts.screen(lg) {
            justify-content: space-between;
            height: auto;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 150%;
        }

        gap: 6px;
        height: 50px;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
}

.action {
    @extend %itemFlexCenter;

    margin-left: auto;
    gap: 20px;

    @include abstracts.screen(sm) {
        margin-left: initial;
    }

    &__group {
        @extend %itemFlexCenter;

        justify-content: center;

        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--act-btn-background);
        box-shadow: 0px 20px 60px 10px var(--act-btn-shadow);
    }

    &__group--single &__button {
        padding: 13px;
    }

    &__button-wrap {
        position: relative;

        &:hover .act-dropdown {
            display: block;
        }
    }

    &__button {
        @extend %itemFlexCenter;

        position: relative;
        padding: 13px 20px;
        gap: 10px;
        cursor: pointer;
    }

    &__value {
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--separate-color);
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        object-fit: cover;
        cursor: pointer;
    }

    &__btn {
        padding: 10px 20px;
    }
}

.act-dropdown {
    position: absolute;
    top: 48px;
    right: -60px;
    width: min(500px, 100vw);
    padding-top: 28px;
    display: none;

    &__inner {
        position: relative;
        padding: 30px;
        border-radius: 20px;
        background: var(--header-act-dropdown-bg);
        box-shadow: 0px 40px 90px 20px var(--header-act-dropdown-shadow);
    }

    &__arrow {
        position: absolute;
        top: -17px;
        right: 90px;
        height: 20.5px;
        filter: var(--dropdown-arrow-color);
    }

    &__top {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__view-all {
        color: #0071dc;
        font-size: 1.8rem;
        line-height: 145.455%;
    }

    &__bottom {
        margin: 30px 0;
        padding: 30px 0;
        border-width: 1.5px 0;
        border-color: #d2d1d6;
        border-style: solid;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--bold {
            font-weight: 500;
        }
    }

    &__list {
        padding-bottom: 10px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    &__row + &__row {
        margin-top: 10px;
    }

    &__label,
    &__value {
        font-size: 1.8rem;
        line-height: 145.455%;
    }

    &__checkout {
        display: flex;
        justify-content: flex-end;

        &-btn {
            display: flex;
            justify-content: center;
            min-width: 278px;
            padding: 18px 40px;
            border-radius: 50px;
        }
    }

    &__separate {
        margin: 20px 0;
        height: 1px;
        background: var(--header-act-dropdown-border-color);
    }
}

.cart-preview-item {
    text-align: left;

    &__img-wrap {
        position: relative;
        padding-top: 100%;
        border: 1.5px solid var(--header-act-dropdown-border-color);
        border-radius: 10px;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__title {
        margin-top: 14px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }

    &__price {
        margin-top: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
}
