.message {
    padding: 12px 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #5bc45f;
    border-radius: 8px;
    background: rgba(39, 243, 117, 0.2);

    &-icon {
    }

    &-text {
        color: #5bc45f;
        font-size: 1.5rem;
        font-weight: 500;
    }
}
