@use "../abstracts";

.toggle-menu {
    display: none;

    @include abstracts.screen(lg) {
        margin-right: 60px;
    }

    @include abstracts.screen(sm) {
        margin-right: initial;
    }
}
