@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Gordita", sans-serif;
    font-size: 1.6rem;
    background: var(--body-background-color);
    color: var(--text-color);
}

a,
button,
input,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    padding-inline: initial;
    border: none;
    outline: none;
    background: transparent;
}

button {
    cursor: pointer;
}

.icon {
    filter: var(--icon-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn {
    padding: 9px 10px;
    border-radius: 6px;

    &--primary {
        background: #ffb700;

        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 142.857%;
    }

    &--text {
        background: transparent;
        border: none;
        color: #9e9da8;
        font-size: 1.5rem;
        line-height: 146.667%;
    }

    &--normal {
        background: var(--btn-normal-bg);
        color: #9e9da8;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
    }

    &--outline {
        border: 1px solid var(--border-color-btn);
    }
}
