<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <!-- Column 1 -->
            <div class="footer__column">
                <!-- Logo -->
                <a href="./">
                    <div class="logo">
                        <img
                            src="./assets/icon/logo.svg"
                            alt=""
                            class="logo__img"
                        />
                        <h1 class="logo__brand">grocerymart</h1>
                    </div>
                </a>

                <p class="footer__desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Deleniti eligendi dolore fugit placeat officia dolorem
                    obcaecati amet est ex tempore harum doloremque, sunt saepe
                    dolores alias animi quo qui. Expedita!
                </p>

                <p class="footer__subdesc">Receive product news and updates.</p>

                <form class="footer__form" action="">
                    <input
                        class="footer__input"
                        type="email"
                        placeholder="Email address..."
                        required
                    />
                    <button class="footer__submit" type="submit">SEND</button>
                </form>
            </div>

            <!-- Column 2 -->
            <div class="footer__column">
                <h3 class="footer__heading">SHOP</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">All Departments</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Fashion Deals</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link"
                            >Electronics Discounts</a
                        >
                    </li>
                    <li>
                        <a href="#!" class="footer__link"
                            >Home & Living Specials</a
                        >
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Beauty Bargains</a>
                    </li>
                </ul>
            </div>

            <!-- Column 3 -->
            <div class="footer__column">
                <h3 class="footer__heading">SUPPORT</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Store locator</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Order status</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Contact staff</a>
                    </li>
                </ul>
            </div>

            <!-- Column 4 -->
            <div class="footer__column">
                <h3 class="footer__heading">COMPANY</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Customer Service</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Terms of Use</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Privacy</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Careers</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Affiliates</a>
                    </li>
                </ul>
            </div>

            <!-- Column 5 -->
            <div class="footer__column">
                <h3 class="footer__heading">CONTACT</h3>
                <p class="footer__email">Email:</p>
                <a class="footer__mailto" href="mailto:tienduy1403@gmail.com"
                    >tienduy1403@gmail.com</a
                >
                <p class="footer__tel">Hotline:</p>
                <a class="footer__telto" href="tel:+88888888">88888888</a>
                <p class="footer__add">Address:</p>
                <p class="footer__add-desc">
                    Thon 5, Xuan Quan, Van Giang, Hung Yen
                </p>
                <p class="footer__hours">Hours:</p>
                <p class="footer__hours-desc">M - F 08:00am - 06:00pm</p>
            </div>
        </div>

        <div class="footer__bottom">
            <p class="footer__copyright">
                © 2010 - 2025 Grocery Mart. All rights reserved.
            </p>
            <div class="footer__social">
                <a
                    href="#!"
                    class="footer__social-icon footer__social-icon--facebook"
                >
                    <img
                        src="../assets/icon/facebook.svg"
                        alt=""
                        class="footer__social-img"
                    />
                </a>
                <a
                    href="#!"
                    class="footer__social-icon footer__social-icon--youtube"
                >
                    <img
                        src="../assets/icon/youtube.svg"
                        alt=""
                        class="footer__social-img"
                    />
                </a>
                <a
                    href="#!"
                    class="footer__social-icon footer__social-icon--tiktok"
                >
                    <img
                        src="../assets/icon/tiktok.svg"
                        alt=""
                        class="footer__social-img"
                    />
                </a>
                <a
                    href="#!"
                    class="footer__social-icon footer__social-icon--twitter"
                >
                    <img
                        src="../assets/icon/twitter.svg"
                        alt=""
                        class="footer__social-img"
                    />
                </a>
                <a
                    href="#!"
                    class="footer__social-icon footer__social-icon--linkedin"
                >
                    <img
                        src="../assets/icon/linkedin.svg"
                        alt=""
                        class="footer__social-img"
                    />
                </a>
            </div>
        </div>
    </div>
</div>
